{% load apisgeneric %}
{% load bibsonomy_templatetags %}
<table class="table table-hover">
  {% block objecttable %}
  {% modeldict object as d %}
  {% for key, value in d.items %}
  {% with "references notes published review rootobject_ptr deprecated_name" as list %}
  {% if key.name not in list.split %}
    <tr>
      <th>{{ key.verbose_name }}</th>
      <td>{{ value }}</td>
    </tr>
  {% endif %}
  {% endwith %}
  {% endfor %}
  <tr>
    <th>Collections</th>
    <td>{% for col in object.sicprod_collections %}{{ col }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
  <tr>
    <th>References</th>
    <td>{% link_to_reference_on obj=object modal=True %}</td>
  </tr>
  {% endblock objecttable %}
</table>
<table class="table table-hover table-bordered">
  {% if object.latitude and object.longitude %}
  <td id="map" style="height: 300px">
  </td>
  <script>
  var map = L.map('map').setView([{{ object.latitude|floatformat:"4u" }}, {{ object.longitude|floatformat:"4u" }}], 13);

  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);
  
  L.marker([{{ object.latitude|floatformat:"4u"}}, {{ object.longitude|floatformat:"4u"}}]).addTo(map)
  .bindPopup('{{ object }}')
  .openPopup();
  </script>
  {% endif %}
</table>
