{% extends "base.html" %}
{% block content %}
    <div class="container mt-3">
        <ul>
            {% for cluster, entries in groups.items %}
                <li>
                    {{ cluster }}
		    <p>
                      {{ entries|length }} occurences
		      {% for entry in entries %}
		      <a href="{% url "apis_core:generic:detail" content_type entry.pk %}">{{ entry.pk }}</a>,
		      {% endfor %}
		    </p>
                </li>
                <hr />
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
