{% extends "base.html" %}
{% block content %}
    <div class="container mt-3">
        <ul>
            {% for group, ids in groups.items %}
                <li>
                    {{ group }}
		    <p>
                      {{ ids|length }} occurences
		      {% for id in ids %}
		      <a href="{% url "apis_core:apis_entities:generic_entities_detail_view" content_type.model id %}">{{ id }}</a>,
		      {% endfor %}
		    </p>
                </li>
                <hr />
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
