{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="card card-index">
    <div class="card-body">
      <h1 class="text-center title-index">Sigmund of Tyrol's Court</h1>
      <p class="text-center text-muted paragraph-index">Prosopographical Database</p>
      <hr class="hr-index" />
      <p class="text-justify"></p>
      <div class="text-right">
        <a href="/apis/apis_ontology.person/"
           class="btn btn-lg btn-index pulse pull-right">explore</a>
      </div>
      <hr />
    </div>
  </div>
</div>
{% endblock content %}
