{% extends "apis_core/apis_entities/abstractentity_form.html" %}
{% load bibsonomy_templatetags %}
{% load apiscore %}

{% block scriptHeader %}
{{ block.super }}
{% include 'apis_bibsonomy/apis_bibsonomy_include.html' %}
{% endblock scriptHeader %}

{% block object-actions %}
{% link_to_reference_on obj=object modal=True %}
{% endblock object-actions %}

{% block scripts %}
{{ block.super }}

{% if object %}
{% with object|opts as opts %}
<script type="text/javascript">
function GetFormAjax(FormName , ObjectID , ButtonText) {
    function add_form(data) {
	console.log("We are using the custom GetFormAjax");
        // update our tooltip content with our returned data and cache it
        $('#tab_'+data.tab).find('div:eq(1)').remove();
        $('#tab_'+data.tab).append(data.form);
        $('#form_PersonInstitutionForm div:first div:first select').focus();
        $('#tab_'+data.tab+" select.listselect2").each(function( index, element ){
            console.log($(this).data("autocompleteLightUrl"));
            $(this).select2({
                escapeMarkup: function(markup) {
                    return markup;
                },
                templateResult: function(data) {
                    return data.text;
                },
                templateSelection: function(data) {
                    return data.text;
                },
                ajax: {
                url: $(this).data("autocompleteLightUrl"),
                dataType: 'json'
                // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
                },
            })
        })            //$(".form.ajax_form").unbind()
	$('#tab_'+data.tab).each(function() {
	        htmx.process(this);
	});
        reinitialize_bibsonomy_tooltips();
	$('*[data-toggle="modal"]').each(function(){
	    htmx.process(this);
	});
    };
    if (!$.ApisForms) {
        $.ApisForms = {}
    };
    if (ObjectID === undefined) {
        if ($.ApisForms[FormName+'_'+'{{opts.verbose_name}}']) {
            var new_data = $.ApisForms[FormName+'_'+'{{opts.verbose_name}}']
            new_data.form = new_data.form.replace('##ENT_PK##', {{object.pk}});
            add_form(new_data);
            return;
        };
    };
    if (ButtonText === undefined) {
        ButtonText = 'create/modify';
    };
    return $.ajax(
        {
            type: 'POST',
            url: '{% url 'apis:apis_relations:get_form_ajax' %}',
            beforeSend: function(request) {
                var csrftoken = getCookie('csrftoken');
                request.setRequestHeader("X-CSRFToken", csrftoken);
            },
            data: {
                'FormName':FormName,
                'SiteID':{{object.pk}},
                'ObjectID':ObjectID,
                'ButtonText':ButtonText,
                'entity_type': '{{opts.verbose_name}}',
            },
            success: function(data) {
                add_form(data);
                if (!ObjectID) {
                    $.ApisForms[FormName+'_'+'{{opts.verbose_name}}'] = data;
                    $.ApisForms[FormName+'_'+'{{opts.verbose_name}}'].form = $.ApisForms[FormName+'_'+'{{opts.verbose_name}}'].form
                    .replace('/{{object.pk}}/', '/##ENT_PK##/');
                };
            },
            error: function(error) {
                console.log(error)
            }
        }
    );
}
</script>
{% endwith %}
{% endif %}
<script>
var native_reinitialize_bibsonomy_tooltips = reinitialize_bibsonomy_tooltips;
reinitialize_bibsonomy_tooltips = function() {
  console.log("override reinitialize_bibsonomy_tooltips");
  native_reinitialize_bibsonomy_tooltips()
  notes = document.querySelectorAll("#id_notes");
  notes.forEach(notes => {
    notes.rows = 4;
  });
}
</script>
{% endblock scripts %}
